@{
    ViewData["Title"] = "Index";
}

<<<<<<< Updated upstream
@Html.ActionLink("Ver Listado", "listado")
<<<<<<< HEAD
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Ver Listado", "listado")</p>
</div>
=======
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Ver Listado", "listado")</p>
</div>

>>>>>>> Stashed changes
>>>>>>> origin/main
