@model ASP.Models.VM.SeleccionarInvernadero

@{
    ViewData["Title"] = "Seleccionar Datos";
}

<h1>Seleccionar Invernadero</h1>

<form asp-action="SeleccionarInvernadero" method="post">
    <div>
        <label for="InvernaderoSeleccionado">Selecciona un Invernadero:</label><br />
        <select asp-for="NombreInvernaderoSeleccionado" asp-items="@(new SelectList(Model.ListadoNombreInvernaderos))">
            <option value="">-- Selecciona --</option>
        </select>
    </div>

    <div style="margin-top: 10px;">
        <label for="FechaSeleccionada">Selecciona una Fecha:</label><br />
        <input type="date" asp-for="FechaSeleccionada" value="@Model.FechaSeleccionada.ToString("yyyy-MM-dd")" />
    </div>

    <div style="margin-top: 20px;">
        <button type="submit">Ver Datos</button>
    </div>
</form>