@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Listado de Personajes Con Puntos", "ListaPersonajesConPuntos")</p>
    <p>@Html.ActionLink("Puntuar un Combate", "PuntuarCombate")</p>    
</div>

